<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BlueprintsManager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{'~/images/logo.png'}">
</head>
<body>
<div th:insert="header :: header"></div>
<p></p>
<div style="padding-left: 10%; padding-right: 10%">
    <h1>Company list</h1>
    <table id="table-content" class="table table-striped">
        <thead>
        <tr>
            <th><a>NAME</a></th>
            <th><a>SIGNER POSITION</a></th>
            <th><a>SIGNER NAME</a></th>
            <th><a>LOGO</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}">
            <td><a th:text="${company.getName()}"></a></td>
            <td><a th:text="${company.getSignerPosition()}"></a></td>
            <td><a th:text="${company.getSignerName()}"></a></td>
            <td>
                <svg th:if="${company.isHasLogo()}" xmlns="http://www.w3.org/2000/svg" width="30"
                     height="30" fill="currentColor" class="bi bi-check-circle-fill text-success"
                     viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <svg th:if="${!company.isHasLogo()}" xmlns="http://www.w3.org/2000/svg"
                     width="30" height="30" fill="currentColor"
                     class="bi bi-exclamation-circle-fill text-warning"
                     viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>