<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BlueprintsManager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>
<div class="row row-no-gutters">
    <table id="table" class="table table-striped table-condensed">
        <tbody>
        <tr align="center">
            <td><a href="/index">PROJECTS</a></td>
            <td><a href="/company">COMPANIES</a></td>
            <td><a href="/user">USERS</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="padding-left: 5%; padding-right: 5%">
    <form method="post" th:action="@{'~/project/new/'}" enctype="multipart/form-data">
        <div style="float: left; width: 20%">
            Select a Executor Company
            <label>
                <select th:type="number" th:name="companyId">
                    <option th:each="company : ${companies}" th:value="${company.getId}" th:text="${company.getName}"></option>
                </select>
            </label>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>