<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BlueprintsManager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{'~/images/logo.png'}">
</head>
<body>
<div th:insert="header :: header"></div>
<p></p>
<div style="padding-left: 10%; padding-right: 10%">
    <a th:href="@{'~/project/view/' + ${document.getProjectId()}}">
        <button type="button" class="btn btn-primary">BACK TO PROJECT</button>
    </a>
    <a th:href="@{'~/document/download/' + ${document.getId()}}">
        <button th:if="${documentExists}" type="button" class="btn btn-success">DOWNLOAD DOCUMENT</button>
    </a>
    <a th:href="@{'~/comment/document/' + ${document.getId()}}">
        <button type="button" class="btn btn-info">COMMENTS</button>
    </a>
    <h1 th:text="'DOCUMENT ' + ${document.getName()}"></h1>
    <h6 th:text="'Last edit at ' + ${document.getEditTimeWithFormat()}"></h6>


    <div style="padding-right: 30%">
        <p th:if="${document.getReassemblyRequired() && documentExists}" class="alert alert-danger text-center"
           th:text="'REASSEMBLY REQUIRED'"></p>
        <form action="#" method="post" th:action="@{/document/save}" th:object="${document}"
              enctype="multipart/form-data">
            <p th:if="${#fields.hasErrors('documentFileName')}" th:text="${#fields.errors('documentFileName').get(0)}"
               class="alert-danger"></p>
            <input th:field="*{id}" th:value="${document.getId()}" hidden>
            <input th:field="*{projectId}" th:value="${document.getProjectId()}" hidden>
            <input th:if="${documentExists}" th:field="*{type}" th:value="${document.getType()}" hidden>
            <input th:if="${documentExists}" th:field="*{reassemblyRequired}"
                   th:value="${document.getReassemblyRequired()}" hidden>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="name">Document Name:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="name" th:disabled="${disabled}" type="text" th:field="*{name}"
                           th:placeholder="*{getName()}"/>
                    <p th:if="${#fields.hasErrors('name')}" style="color: red">Document's name cannot be empty</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="type">Document Type</label>
                <div class="col-sm-10">
                    <select class="form-control" id="type" th:disabled="${documentExists}" th:type="number" th:field="*{type}">
                        <option th:value="${null}" selected hidden>
                            Please Choose Document Type
                        </option>
                        <option th:each="type : ${types}" th:selected="${type == document.getType()}" th:value="${type}"
                                th:text="${type.getName()}"
                                th:disabled="${type.isUnmodified()}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('type')}" style="color: red">Please Choose Document Type</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="designer">Designer</label>
                <div class="col-sm-10">
                    <select class="form-control" id="designer" th:disabled="${disabled}" th:type="number" th:field="*{designerId}">
                        <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                                th:selected="${user.getId() == document.getDesignerId()}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="supervisor">Supervisor</label>
                <div class="col-sm-10">
                    <select class="form-control" id="supervisor" th:disabled="${disabled}" th:type="number" th:field="*{supervisorId}">
                        <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                                th:selected="${user.getId() == document.getSupervisorId()}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="fullCode">Document Full Code:</label>
                <div class="col-sm-10">
                    <a class="form-control" id="fullCode" th:text="${document.getDocumentFullCode()}"></a>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="code">Document Code:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="code" th:disabled="${disabled}" type="text" th:field="*{code}"
                           th:placeholder="*{getCode()}"/>
                    <p th:if="${#fields.hasErrors('code')}" style="color: red">Document code cannot be empty</p>
                </div>
            </div>
            <div th:if="${!documentExists || !document.getType().isUnmodified()}" class="form-group">
                <label>Select a file for upload</label>
                <label>*.txt only for General Information and *.pdf only for Drawing</label>
                <input th:disabled="${disabled}" type="file" name="file" class="form-control-file">
            </div>

            <button th:disabled="${disabled}" type="submit" class="btn btn-primary">SAVE</button>
        </form>
    </div>


    <div th:if="${documentExists}">
        <a th:href="@{'~/document/edit/' + ${document.getId()}}">
            <button th:disabled="${document.getType().isUnmodified()}" type="button" class="btn btn-primary">EDIT
            </button>
        </a>
        <a th:href="@{'~/document/assemble/' + ${document.getId()}}">
            <button th:disabled="${!document.getReassemblyRequired()}" type="button" class="btn btn-warning">REASSEMBLE
                DOCUMENT
            </button>
        </a>
        <a th:href="@{'~/document/delete/' + ${document.getId()}}">
            <button th:disabled="${document.getType().isUnmodified()}" type="button" class="btn btn-danger">DELETE
                DOCUMENT
            </button>
        </a>
    </div>

</div>
</body>
</html>