<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BlueprintsManager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{'~/images/logo.png'}">
</head>
<body>
<div style="padding-left: 5%; padding-right: 5%" class="row row-no-gutters">
    <table id="table" class="table" style="border-bottom-width: 5px; border-bottom-color: black; width: 100%">
        <thead>
        <tr style="alignment: center">
            <td style="vertical-align: middle; width: 10%" class="text-left">
                <a href="/index">
                    <img width="100" src="../static/images/logo.png" th:src="@{~/images/logo.png}" class="rounded "
                         alt="logo">
                </a>
            </td>
            <td style="vertical-align: middle; width: 45%">
                <a href="/company">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block">COMPANIES</button>
                </a>
            </td>
            <td style="vertical-align: middle; width: 45%">
                <a href="/user">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block">USERS</button>
                </a>
            </td>
        </tr>
        </thead>
    </table>
</div>
<p></p>
<div style="padding-left: 5%; padding-right: 5%">
    <h1>ERROR</h1>
    <p th:text="${warningMessage}" th:if="${warningMessage ne null}" class="alert alert-danger"></p>
</div>
</body>
</html>