<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="padding-left: 10%; padding-right: 10%" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">
                <img width="100" src="../static/images/logo.png" th:src="@{~/images/logo.png}" class="rounded "
                     alt="logo">
                Blueprints Manager
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/company">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user">Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>