<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BlueprintsManager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{'~/images/logo.png'}">
</head>
<body>
<div th:insert="header :: header"></div>
<p></p>
<div style="padding-left: 10%; padding-right: 10%">
    <a th:href="@{'~/project/new'}">
        <button type="button" class="btn btn-primary">CREATE NEW PROJECT</button>
    </a>
    <h1>Projects list</h1>
    <table id="table-content" class="table table-striped">
        <thead>
        <tr>
            <th><a>CODE</a></th>
            <th><a>NAME</a></th>
            <th><a>EXECUTOR</a></th>
            <th><a>STAGE CODE</a></th>
            <th><a>EDIT TIME</a></th>
            <th><a>PDF STATUS</a></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projectPage.getContent()}">
            <td><a th:text="${project.getCode()}"></a></td>
            <td><a th:text="${project.getName()}"></a></td>
            <td><a th:text="${project.getCompanyName()}"></a></td>
            <td><a th:text="${project.getStageName()}"></a></td>
            <td><a th:text="${project.getEditTimeWithFormat()}"></a></td>
            <td align="center">
                <svg th:if="${!project.getReassemblyRequired()}" xmlns="http://www.w3.org/2000/svg" width="30"
                     height="30" fill="currentColor" class="bi bi-check-circle-fill text-success"
                     viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <svg th:if="${project.getReassemblyRequired()}" xmlns="http://www.w3.org/2000/svg"
                     width="30" height="30" fill="currentColor"
                     class="bi bi-exclamation-circle-fill text-warning"
                     viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
            </td>
            <td>
                <a th:href="@{'~/comment/project/' + ${project.getId()}}">
                    <button type="button" class="btn btn-info">COMMENTS</button>
                </a>
            </td>
            <td>
                <a th:href="@{'~/project/view/' + ${project.getId()}}">
                    <button type="button" class="btn btn-primary">VIEW</button>
                </a>
            </td>
            <td>
                <a th:href="@{'~/project/assemble/' + ${project.getId()}}">
                    <button th:disabled="${!project.getReassemblyRequired()}" type="button" class="btn btn-warning">
                        ASSEMBLE
                    </button>
                </a>
            </td>
            <td><a th:href="@{'~/project/download/' + ${project.getId()}}">
                <button type="button" class="btn btn-success">DOWNLOAD</button>
            </a>
            </td>
            <td><a th:href="@{'~/project/delete/' + ${project.getId()}}">
                <button type="button" class="btn btn-danger">DELETE</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${projectPage.getTotalPages() > 1}" style="padding-left: 5%; padding-right: 5%">
        <nav aria-label="Paginator">
            <ul class="pagination justify-content-center pagination-lg">
                <li th:each="pageNumber : ${pageNumbers}"
                    th:class="${pageNumber == projectPage.getPageable().pageNumber} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{index(size=${projectPage.getPageable().getPageSize()}, page=${pageNumber})}"
                       th:text=${pageNumber}>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>