<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BlueprintsManager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{'~/images/logo.png'}">
</head>
<body>
<div th:insert="header :: header"></div>
<p></p>
<div style="padding-left: 10%; padding-right: 10%">
    <a th:href="@{'~/project'}">
        <button type="button" class="btn btn-primary">BACK TO PROJECT LIST</button>
    </a>
    <a th:if="${projectExists}" th:href="@{'~/project/download/' + ${project.getId()}}">
        <button type="button" class="btn btn-success">DOWNLOAD PROJECT</button>
    </a>
    <a th:if="${projectExists}" th:href="@{'~/comment/project/' + ${project.getId()}}">
        <button type="button" class="btn btn-info">COMMENTS</button>
    </a>
    <h1 th:text="'PROJECT ' + ${project.getCode()}"></h1>
    <h6 th:if="${projectExists}" th:text="'Last edit at ' + ${project.getEditTimeWithFormat()}"></h6>

    <div style="padding-right: 30%">
        <p th:if="${project.getReassemblyRequired() == true}" class="alert alert-danger text-center"
           th:text="'REASSEMBLY REQUIRED'"></p>
        <form action="#" method="post" th:action="@{/project/save}" th:object="${project}">
            <input th:field="*{id}" th:value="${project.getId()}" hidden>
            <input th:if="${projectExists}" th:field="*{companyId}" th:value="${project.getCompanyId()}" hidden>
            <input th:if="${projectExists}" th:field="*{reassemblyRequired}"
                   th:value="${project.getReassemblyRequired()}"
                   hidden>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="company">Company Executor:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="company" th:disabled="${projectExists}" th:type="number"
                            th:field="*{companyId}"
                            th:onchange="'window.location.href = \'' + @{'~/project/new'} + '?companyId=\' + this.value' ">
                        <option th:value="${null}" selected hidden>
                            Please Choose Company
                        </option>
                        <option th:each="company : ${companies}" th:value="${company.getId()}"
                                th:text="${company.getName()}"
                                th:selected="${company.getId() == project.getCompanyId()}"></option>
                    </select>
                </div>
            </div>
            <div th:if="${project.getCompanyId() ne null}">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="designer">Designer:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="designer" th:disabled="${disabled}" th:type="number"
                                th:field="*{designerId}">
                            <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                                    th:selected="${user.getId() == project.getDesignerId()}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="supervisor">Supervisor:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="supervisor" th:disabled="${disabled}" th:type="number"
                                th:field="*{supervisorId}">
                            <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                                    th:selected="${user.getId() == project.getSupervisorId()}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="chief">Chief Engineer:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="chief" th:disabled="${disabled}" th:type="number"
                                th:field="*{chiefId}">
                            <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                                    th:selected="${user.getId() == project.getChiefId()}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="controller">Controller:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="controller" th:disabled="${disabled}" th:type="number"
                                th:field="*{controllerId}">
                            <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                                    th:selected="${user.getId() == project.getControllerId()}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="stage">Project Stage:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="stage" th:disabled="${disabled}" th:type="number"
                                th:field="*{stageId}">
                            <option th:each="stage : ${stages}" th:value="${stage.getId()}" th:text="${stage.getName()}"
                                    th:selected="${stage.getId() == project.getStageId()}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="name">Project Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="name" th:disabled="${disabled}" type="text" th:field="*{name}"
                               th:placeholder="*{getName()}"/>
                        <p th:if="${#fields.hasErrors('name')}" style="color: red">Project's name cannot be empty</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="code">Project Code:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="code" th:disabled="${disabled}" type="text" th:field="*{code}"
                               th:placeholder="*{getCode()}"/>
                        <p th:if="${#fields.hasErrors('code')}" style="color: red">The project code cannot be empty or
                            repeated</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="objName">Object Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="objName" th:disabled="${disabled}" type="text"
                               th:field="*{objectName}"
                               th:placeholder="*{getObjectName()}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="objAddress">Object Address:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="objAddress" th:disabled="${disabled}" type="text"
                               th:field="*{objectAddress}"
                               th:placeholder="*{getObjectAddress()}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="relDate">Release Date:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="relDate" th:disabled="${disabled}" type="date"
                               th:field="*{releaseDate}"
                               th:placeholder="*{getReleaseDate().toString()}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="volNumber">Volume Number:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="volNumber" th:disabled="${disabled}" type="number"
                               th:field="*{volumeNumber}"
                               th:placeholder="*{getVolumeNumber()}"/>
                        <p th:if="${#fields.hasErrors('volumeNumber')}" style="color: red">Project's Volume number
                            cannot be
                            empty</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="volName">Volume Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="volName" th:disabled="${disabled}" type="text"
                               th:field="*{volumeName}"
                               th:placeholder="*{getVolumeName()}"/>
                        <p th:if="${#fields.hasErrors('volumeName')}" style="color: red">Project's Volume name cannot be
                            empty</p>
                    </div>
                </div>

                <button th:disabled="${disabled}" type="submit" class="btn btn-primary">SAVE</button>
                <p>&nbsp;</p>
                <div th:if="${projectExists}">
                    <a th:href="@{'~/project/edit/' + ${project.getId()}}">
                        <button type="button" class="btn btn-primary">EDIT</button>
                    </a>
                    <a th:href="@{'~/project/assemble/' + ${project.getId()}}">
                        <button th:disabled="${!project.getReassemblyRequired()}" type="button" class="btn btn-warning">
                            REASSEMBLE PROJECT
                        </button>
                    </a>
                    <a th:href="@{'~/project/delete/' + ${project.getId()}}">
                        <button type="button" class="btn btn-danger">DELETE PROJECT</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <p>&nbsp;</p>
    <div th:if="${projectExists}">
        <a th:href="@{'~/document/new/' +${project.getId()}}">
            <button type="button" class="btn btn-primary">ADD DOCUMENT</button>
        </a>
    </div>

    <div th:if="${projectExists}">
        <h1>Documents list</h1>
        <table id="table-content" class="table table-striped">
            <thead>
            <tr>
                <th><a>CODE</a></th>
                <th><a>NAME</a></th>
                <th><a>EDIT TIME</a></th>
                <th><a>PDF STATUS</a></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="document : ${documents}">
                <td><a th:text="${document.getDocumentFullCode()}"></a></td>
                <td><a th:text="${document.getName()}"></a></td>
                <td><a th:text="${document.getEditTimeWithFormat()}"></a></td>
                <td align="center">
                    <svg th:if="${!document.getReassemblyRequired()}" xmlns="http://www.w3.org/2000/svg" width="30"
                         height="30" fill="currentColor" class="bi bi-check-circle-fill text-success"
                         viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    <svg th:if="${document.getReassemblyRequired()}" xmlns="http://www.w3.org/2000/svg"
                         width="30" height="30" fill="currentColor"
                         class="bi bi-exclamation-circle-fill text-warning"
                         viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                </td>
                <td>
                    <a th:href="@{'~/comment/document/' + ${document.getId()}}">
                        <button type="button" class="btn btn-info">COMMENTS</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'~/document/view/' + ${document.getId()}}">
                        <button type="button" class="btn btn-primary">VIEW</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'~/document/assemble/' + ${document.getId()}}">
                        <button th:disabled="${!document.getReassemblyRequired()}" type="button"
                                class="btn btn-warning">ASSEMBLE
                        </button>
                    </a>
                </td>
                <td><a th:href="@{'~/document/download/' + ${document.getId()}}">
                    <button type="button" class="btn btn-success">DOWNLOAD</button>
                </a>
                </td>
                <td><a th:href="@{'~/document/delete/' + ${document.getId()}}">
                    <button th:disabled="${document.getType().isUnmodified()}" type="button" class="btn btn-danger">
                        DELETE
                    </button>
                </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>