<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BlueprintsManager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{'~/images/logo.png'}">
</head>
<body>
<div th:insert="header :: header"></div>
<p></p>
<div style="padding-left: 10%; padding-right: 10%">
    <a th:href="@{'~/project/view/' + ${projectId}}">
        <button type="button" class="btn btn-primary">BACK TO PROJECT</button>
    </a>
    <h1 th:text="'Comment List for Project with ID = ' + ${projectId}"></h1>
    <form action="#" method="post" th:action="@{/comment/project/save}" th:object="${newComment}">
        <input th:field="${newComment.login}" type="text" th:value="${newComment.getLogin()}" hidden/>
        <input th:field="${newComment.projectId}" th:value="${newComment.getProjectId()}" hidden/>
        <div class="form-group">
            <label for="newProjectComment">New comment for Project</label>
            <textarea class="form-control" id="newProjectComment" rows="3" th:field="*{text}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>

    <table id="table-content" class="table table-striped">
        <tbody>
        <tr th:each="comment  : ${commentPage.content}">
            <td>
                <div th:text="${comment.getText()}"></div>
                <div>&nbsp;</div>
                <div th:width="100">
                    <div style="float: left; width: 50%" th:text="${comment.getLogin}"></div>
                    <div style="float: left; width: 50%; text-align: right"
                         th:text="${comment.getPublicationTimeWithFormat()}"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${commentPage.getTotalPages() > 1}" style="padding-left: 5%; padding-right: 5%">
    <nav aria-label="Paginator">
        <ul class="pagination justify-content-center pagination-lg">
            <li th:each="pageNumber : ${pageNumbers}"
                th:class="${pageNumber == commentPage.getPageable().pageNumber} ? 'page-item disabled' : 'page-item'">
                <a class="page-link"
                   th:href="@{${projectId}(size=${commentPage.getPageable().getPageSize()}, page=${pageNumber})}"
                   th:text=${pageNumber}>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>