<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
 lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BlueprintsManager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>
<div class="row row-no-gutters">
    <table id="table" class="table table-striped table-condensed">
        <tbody>
        <tr align="center">
            <td><a href="/index">PROJECTS</a></td>
            <td><a href="/company">COMPANIES</a></td>
            <td><a href="/user">USERS</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="padding-left: 5%; padding-right: 5%">
    <h1 th:text="'PROJECT ' + ${project.getCode()}"></h1>
    <h4 th:text="'Last edit at ' + ${project.getEditTimeWithFormat()}"></h4>
    <p th:if="${project.getReassemblyRequired() == true}" class="alert alert-danger"
       th:text="'REASSEMBLY REQUIRED'"></p>

    <form action="#" method="post" th:action="@{/project/save}" th:object="${project}">
        <input th:field="*{id}" th:value="${project.getId()}" hidden>
        <div>
            <label>Company Executor</label>
            <!--//TODO Fix "Please Choose Company" item-->
            <select th:disabled="${projectExists}" th:type="number" th:field="*{companyId}"
                    th:onchange="'window.location.href = \'' + @{'~/project/new'} + '?companyId=\' + this.value' ">
                <option th:value="${null}" selected hidden>
                    Please Choose Company
                </option>
                <option th:each="company : ${companies}" th:value="${company.getId()}" th:text="${company.getName()}"
                        th:selected="${company.getId() == project.getCompanyId()}"></option>
            </select>
        </div>
        <div th:if="${project.getCompanyId() ne null}">
            <div>
                <label>Designer</label>
                <select th:disabled="${disabled}" th:type="number" th:field="*{designerId}">
                    <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                            th:selected="${user.getId() == project.getDesignerId()}"></option>
                </select>
            </div>
            <div>
                <label>Supervisor</label>
                <select th:disabled="${disabled}" th:type="number" th:field="*{supervisorId}">
                    <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                            th:selected="${user.getId() == project.getSupervisorId()}"></option>
                </select>
            </div>
            <div>
                <label>Chief Engineer</label>
                <select th:disabled="${disabled}" th:type="number" th:field="*{chiefId}">
                    <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                            th:selected="${user.getId() == project.getChiefId()}"></option>
                </select>
            </div>
            <div>
                <label>Controller</label>
                <select th:disabled="${disabled}" th:type="number" th:field="*{controllerId}">
                    <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"
                            th:selected="${user.getId() == project.getControllerId()}"></option>
                </select>
            </div>
            <div>
                <label>Project Stage</label>
                <select th:disabled="${disabled}" th:type="number" th:field="*{stageId}">
                    <option th:each="stage : ${stages}" th:value="${stage.getId()}" th:text="${stage.getName()}"
                            th:selected="${stage.getId() == project.getStageId()}"></option>
                </select>
            </div>
            <div>
                <label>Project Name:</label>
                <input th:disabled="${disabled}" type="text" th:field="*{name}" th:placeholder="*{getName()}"/>
            </div>
            <div>
                <label>Project Code:</label>
                <input th:disabled="${disabled}" type="text" th:field="*{code}" th:placeholder="*{getCode()}"/>
            </div>
            <div>
                <label>Object Name:</label>
                <input th:disabled="${disabled}" type="text" th:field="*{objectName}"
                       th:placeholder="*{getObjectName()}"/>
            </div>
            <div>
                <label>Object Address:</label>
                <input th:disabled="${disabled}" type="text" th:field="*{objectAddress}"
                       th:placeholder="*{getObjectAddress()}"/>
            </div>
            <div>
                <label>Release Date:</label>
                <input th:disabled="${disabled}" type="date" th:field="*{releaseDate}"
                       th:placeholder="*{getReleaseDate().toString()}"/>
            </div>
            <div>
                <label>Volume Number:</label>
                <input th:disabled="${disabled}" type="number" th:field="*{volumeNumber}"
                       th:placeholder="*{getVolumeNumber()}"/>
            </div>
            <div>
                <label>Volume Name:</label>
                <input th:disabled="${disabled}" type="text" th:field="*{volumeName}"
                       th:placeholder="*{getVolumeName()}"/>
            </div>

            <button th:disabled="${disabled}" type="submit" class="btn btn-primary">SAVE</button>
        </div>
    </form>
    <a th:if="${projectExists}" th:href="@{'~/project/edit/' + ${project.getId()}}">
        <button type="button" class="btn btn-primary">EDIT</button>
    </a>

    <div th:if="${project.getId() ne null}">
        <h1><a th:href="@{'~/project/assemble/' + ${project.getId()}}">REASSEMBLE PROJECT</a></h1>
        <h1><a th:href="@{'~/document/new/' + ${project.getId()}}">ADD NEW DOCUMENT</a></h1>
        <h1>Documents list</h1>
        <table id="table-content" class="table table-striped">
            <tbody>
            <tr>
                <td><a>CODE</a></td>
                <td><a>NAME</a></td>
                <td><a>EDIT TIME</a></td>
                <td><a>REASSEMBLING REQUIRED</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="document : ${documents}">
                <td><a th:text="${document.getDocumentFullCode()}"></a></td>
                <td><a th:text="${document.getName()}"></a></td>
                <td><a th:text="${document.getEditTimeWithFormat()}"></a></td>
                <td><a th:text="${document.getReassemblyRequired()}"></a></td>
                <td><a th:href="@{'~/document/view/' + ${document.getId()}}">VIEW</a></td>
                <td><a th:href="@{'~/document/assemble/' + ${document.getId()}}">ASSEMBLE</a></td>
                <td><a th:href="@{'~/document/download/' + ${document.getId()}}">DOWNLOAD</a></td>
                <td><a th:href="@{'~/document/delete/' + ${document.getId()}}">DELETE</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>